@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap");

:root {
  --animation-curve: cubic-bezier(1, 0, 0, 1);
}

html {
  background-color: black;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

#hamburger {
  width: 2.667vw;
  height: 0.666vh;
  min-width: 36px;
  min-height: 5px;
  background-color: white;
  position: fixed;
  right: 24px;
  top: 48px;
  cursor: pointer;
  z-index: 3;
}

#hamburger::before,
#hamburger::after {
  content: "";
  width: 2.667vw;
  height: 0.666vh;
  min-width: 36px;
  min-height: 5px;
  background-color: white;
  position: absolute;
  display: block;
  transition: all 0.6s var(--animation-curve);
}

#hamburger::before {
  top: -250%;
  left: 0%;
  transform-origin: left top;
  transform: rotateZ(0deg);
}

#hamburger::after {
  bottom: -250%;
  left: 0%;
  transform-origin: left bottom;
  transform: rotateZ(0deg);
}

#toggle:checked ~ #hamburger::before {
  content: "";
  background-color: black;
  transform: rotateZ(41deg);
  left: 10%;
}

#toggle:checked ~ #hamburger::after {
  content: "";
  background-color: black;
  transform: rotateZ(-41deg);
  left: 10%;
}

#toggle:checked ~ #hamburger {
  background-color: black;
  opacity: 0;
}

#toggle ~ #hamburger {
  transition: all 0.5s var(--animation-curve);
}

#toggle {
  display: none;
}

#content {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

  overflow: auto;
}

#content > section {
  scroll-snap-align: center;
}

section {
  margin-left: 32px;
  margin-right: 32px;
  height: 100vh;
}

@media screen and (min-width: 800px) {
  .my_name {
    user-select: none;
    color: white;
    font-size: 6.67vw;
    z-index: 1;
    position: relative;
    top: 45vh;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    font-family: "League Spartan", sans-serif;
    text-shadow: -0.417vw 0.0521vw rgb(105, 105, 105);
  }
}
@media screen and (max-width: 800px) {
  .my_name {
    user-select: none;
    color: white;
    font-size: 54px;
    z-index: 1;
    position: relative;
    top: 45vh;
    margin: 0;
    overflow-x: wrap;
    font-family: "League Spartan", sans-serif;
    text-shadow: -0.417vw 0.0521vw rgb(105, 105, 105);
  }
}

.my_name:hover {
  cursor: default;
}

.pointer {
  position: relative;
  left: 50%;
  color: white;
  transform: translateY(-100%);
  width: 24px;
  height: auto;
}

@keyframes fading {
  50% {
    opacity: 0;
  }
}

.pointer .arrow {
  font-size: 24px;
  font-weight: 900;
  animation: fading 2s linear infinite;
  cursor: default;
  user-select: none;
}

.pointer .arrow:nth-child(1) {
  animation-delay: 0.5s;
  transform: translateY(15px);
}
.pointer .arrow:nth-child(2) {
  animation-delay: 1s;
}
.pointer .arrow:nth-child(3) {
  animation-delay: 1.5s;
  transform: translateY(-15px);
}

.biography {
  background-color: rgb(186, 186, 186);
  height: 512px;
  border: 4px solid rgb(105, 105, 105);
  font-family: "League Spartan", sans-serif;
}

.biography > h1 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: 4px dotted rgb(105, 105, 105);
  user-select: none;
  cursor: default;
}

@media screen and (min-width: 800px) {
  .biography > img {
    position: relative;
    height: 256px;
    border-radius: 128px;
    left: 1%;
    top: 40%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 800px) {
  .biography > img {
    position: relative;
    width: 32%;
    border-radius: 128px;
    left: 1%;
    top: 40%;
    transform: translateY(-50%);
  }
}

.projects > h1 {
  color: white;
  text-align: center;
  user-select: none;
  cursor: default;
  font-size: 2em;
  color: white;
}

.projects-container {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2.6vh;
  column-gap: 1.25vw;
  margin: 0 32px 0 32px;
  max-height: 80%;
  overflow: hidden;
  outline: 5px dotted white;
}

.work-container {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  height: 120px;
  width: 120px;
  display: flex;
  flex-basis: auto;
}
